@{
    ViewData["Title"] = "Home Page";
}

<div id="wrapper" class="d-flex justify-content-center bg-light align-items-center" style="position: relative">
    <div id="konva-container" style="width:100%; height: 100%"></div>
</div>

@section Scripts {
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
}