@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-12">
    Hello world
</div>

<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>

@section Scripts {
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
}