@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center bg-light align-items-center">
    <div id="konva-container"></div>
</div>

@section Scripts {
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
}